ai-signage-quotation-automation/AI-Powered Signage Business Automation System.json
{
  "name": "AI-Powered Signage Business Automation System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signage-inquiry",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -208
      ],
      "id": "07d3aa5b-9131-4e3b-babe-12842d5d507e",
      "name": "Webhook",
      "webhookId": "a8f741df-840c-4b26-8f0d-5f1acbff014a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b28c6d4-9c1d-4779-a690-19f755f65d42",
              "name": "jobId",
              "value": "={{\"JOB-\" + $now.format(\"YYYYMMDD\") + \"-\" + Math.floor(Math.random() * 9000 + 1000)}}",
              "type": "string"
            },
            {
              "id": "408587bb-4807-4812-b64f-9d9b36e79814",
              "name": "fullName",
              "value": "={{ $json.body.fullName }}",
              "type": "string"
            },
            {
              "id": "c818c072-9ec4-4574-8ed9-cc01698f379b",
              "name": "businessName",
              "value": "={{ $json.body.businessName }}",
              "type": "string"
            },
            {
              "id": "9daf9869-c5ec-4d89-bbcf-276514b138e9",
              "name": "contactNumber",
              "value": "={{ $json.body.contactNumber }}",
              "type": "string"
            },
            {
              "id": "bd209e5c-dfd4-45b3-a46c-e11b6a76c28c",
              "name": "emailAddress",
              "value": "={{ $json.body.emailAddress }}",
              "type": "string"
            },
            {
              "id": "84efd05e-b40f-47a4-8196-62c538eb5c8c",
              "name": "signageType",
              "value": "={{ $json.body.signageType }}",
              "type": "string"
            },
            {
              "id": "59d66194-cc24-40aa-82ec-dbb034f0448f",
              "name": "width",
              "value": "={{ $json.body.width }}",
              "type": "string"
            },
            {
              "id": "e67ec3f7-3bd3-47d8-a99c-6ba13c1c2234",
              "name": "height",
              "value": "={{ $json.body.height }}",
              "type": "string"
            },
            {
              "id": "cc622d2f-6e95-4857-9e95-0e44cb24cd8d",
              "name": "quantity",
              "value": "={{ $json.body.quantity }}",
              "type": "string"
            },
            {
              "id": "c554f09b-01f3-4711-a211-6266264f3027",
              "name": "installationRequired",
              "value": "={{ $json.body.installationRequired }}",
              "type": "string"
            },
            {
              "id": "72f75783-f28a-428d-b245-5d950dc98777",
              "name": "targetDate",
              "value": "={{ $json.body.targetDate }}",
              "type": "string"
            },
            {
              "id": "1af9d164-277c-48d3-b4b9-9a8d8850c187",
              "name": "installationAddress",
              "value": "={{ $json.body.installationAddress }}",
              "type": "string"
            },
            {
              "id": "f96abf78-7180-40c1-8622-c099a46e6fca",
              "name": "notes",
              "value": "={{ $json.body.notes }}",
              "type": "string"
            },
            {
              "id": "52c9794c-ef28-4e3b-a8fd-422063567fd7",
              "name": "logoUrl",
              "value": "={{ $json.body.logoUrl }}",
              "type": "string"
            },
            {
              "id": "374266da-2ad9-43e4-8308-804be9ee017b",
              "name": "designRefUrl",
              "value": "={{ $json.body.designRefUrl }}",
              "type": "string"
            },
            {
              "id": "47b54c0b-9259-4491-a5c8-111f36d675c9",
              "name": "existingArtworkUrl",
              "value": "={{ $json.body.existingArtworkUrl }}",
              "type": "string"
            },
            {
              "id": "10fe70d9-3d84-4c25-9694-302d2258709d",
              "name": "status",
              "value": "Inquiry Received",
              "type": "string"
            },
            {
              "id": "ca1a0d86-c344-4654-a9dd-b83e6a686d13",
              "name": "createdAt",
              "value": "={{$now.format(\"YYYY-MM-DD HH:mm:ss\")}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        16
      ],
      "id": "724de1e6-c62a-46bf-bb31-958b6b768332",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0",
          "mode": "list",
          "cachedResultName": "Quotation Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 511371829,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0/edit#gid=511371829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.fullName }}",
            "Business Name": "={{ $json.businessName }}",
            "Contact Number": "={{ $json.contactNumber }}",
            "Email": "={{ $json.emailAddress }}",
            "Signage Type": "={{ $json.signageType }}",
            "Width (in meters)": "={{ $json.width }}",
            "Height (in meters)": "={{ $json.height }}",
            "Quantity": "={{ $json.quantity }}",
            "Installation required? ": "={{ $json.installationRequired }}",
            "Target Completion Date": "={{ $json.targetDate }}",
            "  Additional Notes / Special Requests (optional)": "={{ $json.notes }}",
            "Installation Address (optional)": "={{ $json.installationAddress }}",
            "Logo File": "={{ $json.logoUrl }}",
            "  Design Reference or Inspiration (optional)": "={{ $json.designRefUrl }}",
            "  Existing Artwork (optional)": "={{ $json.existingArtworkUrl }}",
            "Job ID": "={{ $json.jobId }}",
            "Status": "={{ $json.status }}",
            "Created At": "={{ $json.createdAt }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signage Type",
              "displayName": "Signage Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Width (in meters)",
              "displayName": "Width (in meters)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Height (in meters)",
              "displayName": "Height (in meters)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Installation required? ",
              "displayName": "Installation required? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Completion Date",
              "displayName": "Target Completion Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Installation Address (optional)",
              "displayName": "Installation Address (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Additional Notes / Special Requests (optional)",
              "displayName": "  Additional Notes / Special Requests (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo File",
              "displayName": "Logo File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Design Reference or Inspiration (optional)",
              "displayName": "  Design Reference or Inspiration (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Existing Artwork (optional)",
              "displayName": "  Existing Artwork (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        16
      ],
      "id": "3bde9958-4fc9-4f5a-95e3-f54eef4046fd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QD95nk0rCxC7QOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this customer inquiry and return this exact JSON:\n\nName: {{ $json['Full Name'] }}\nBusiness: {{ $json['Business Name'] }}\nEmail: {{ $json.Email }}\nPhone: {{ $json['Contact Number'] }}\nSignage Type: {{ $json['Signage Type'] }}\nDimensions: {{ $json['Width (in meters)'] }}m x {{ $json['Height (in meters)'] }}m\nQuantity: {{ $json.Quantity }}\nInstallation: {{ $json['Installation required? '] }}\nLocation: {{ $json['Installation Address (optional)'] }}\nTarget Date: {{ $json['Target Completion Date'] }}\nNotes: {{ $json['  Additional Notes / Special Requests (optional)'] }}\n\n{\n  \"projectSummary\": \"2-3 sentence summary\",\n  \"missingInfo\": [\"list of missing info\"],\n  \"complexity\": \"Simple|Medium|Complex\",\n  \"productionNotes\": \"notes for production team\",\n  \"installerNotes\": \"notes for installation team\",\n  \"riskFlags\": [\"any risks\"],\n  \"estimatedDays\": 5,\n  \"urgencyLevel\": \"Normal|Rush|Urgent\",\n  \"recommendedMaterial\": \"material recommendation\"\n}",
        "options": {
          "systemMessage": "You are an expert signage project manager for a Filipino printing and signage business. Always respond in JSON only, no markdown, no backticks, no explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -208
      ],
      "id": "76619300-7f4a-47b8-8267-7bfaaf80295a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        -16
      ],
      "id": "bcae78ac-f91a-404c-b399-fe2dfc104092",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lpQOYpDbsPtxQxjb",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiText = $input.first().json.output;\nconst cleaned = aiText.replace(/```json|```/g, '').trim();\nconst aiData = JSON.parse(cleaned);\n\nconst prev = $input.first().json;\n\nreturn [{\n  json: {\n    ...prev,\n    projectSummary: aiData.projectSummary,\n    missingInfo: aiData.missingInfo.join(', '),\n    complexity: aiData.complexity,\n    productionNotes: aiData.productionNotes,\n    installerNotes: aiData.installerNotes,\n    riskFlags: aiData.riskFlags.join(', '),\n    estimatedDays: aiData.estimatedDays,\n    urgencyLevel: aiData.urgencyLevel,\n    recommendedMaterial: aiData.recommendedMaterial,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -208
      ],
      "id": "d758ea3e-1cd0-4114-b24c-f50bde592322",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a warm professional quotation email for this customer:\n\nCustomer: {{ $('Append row in sheet').item.json['Full Name'] }} from {{ $('Append row in sheet').item.json['Business Name'] }}\nProject: {{$json.projectSummary}}\nSignage Type: {{ $('Append row in sheet').item.json['Signage Type'] }}\nDimensions: {{ $('Append row in sheet').item.json['Height (in meters)'] }}m x {{ $('Append row in sheet').item.json['Width (in meters)'] }}m\nQuantity: {{ $('Append row in sheet').item.json.Quantity }}\n\nPRICING:\nMaterial: ₱{{$json.materialCost}}\nLabor: ₱{{$json.laborCost}}\nInstallation: ₱{{$json.installationCost}}\nDelivery: ₱{{$json.deliveryCost}}\nTOTAL: ₱{{$json.totalAmount}}\n\nProduction Days: {{$json.productionDays}}\nTarget Date: {{ $('Append row in sheet').item.json['Target Completion Date'] }}\nJob ID: {{ $('Append row in sheet').item.json['Job ID'] }}\n\nInclude: warm greeting, project summary, pricing breakdown, timeline, next steps (reply to approve or request revision).",
        "options": {
          "systemMessage": "You are a professional customer service representative for a signage company in the Philippines. Write email body text only, no subject line, no markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        -208
      ],
      "id": "e469ad6a-80be-4524-b9a4-72bbb2e3d61f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const emailBody = $input.first().json.output;\nconst prev = $input.first().json;\n\nreturn [{\n  json: {\n    ...prev,\n    emailBody: emailBody,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        16
      ],
      "id": "e691c2c8-b74f-43c8-ad0f-69fd8434b823",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "={{ $('Append row in sheet').item.json['Job ID'] }} - Your Signage Quotation",
        "emailType": "text",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        -208
      ],
      "id": "a5be3888-66e7-4d9f-ad88-790a5b98c348",
      "name": "Send a message",
      "webhookId": "1b94d78a-3952-42c7-a0c2-7c65a344ccc3",
      "credentials": {
        "gmailOAuth2": {
          "id": "fcH9uHQQXLW4zBzE",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2121302450",
        "text": "=🔔 NEW QUOTATION — NEEDS APPROVAL\n\n👤 {{ $('Append row in sheet').item.json['Full Name'] }} — {{ $('Append row in sheet').item.json['Business Name'] }}\n📋 {{ $('Append row in sheet').item.json['Signage Type'] }} | {{ $('Append row in sheet').item.json['Width (in meters)'] }}m x {{ $('Append row in sheet').item.json['Height (in meters)'] }}m x {{ $('Append row in sheet').item.json.Quantity }}pcs\n💰 TOTAL: ₱{{ $('Code in JavaScript2').item.json.totalAmount }}\nMaterial: ₱{{ $('Code in JavaScript2').item.json.materialCost }}\nLabor: ₱{{ $('Code in JavaScript2').item.json.laborCost }}\nInstallation: ₱{{ $('Code in JavaScript2').item.json.installationCost }}\n\n📅 Production: {{ $('Code in JavaScript2').item.json.productionDays }} days \n🎯 Target: {{ $('Code in JavaScript2').item.json.estimatedCompletionDate }}\n⚡ Urgency: {{ $('Code in JavaScript2').item.json.urgencyLevel }}\n\n📝 {{ $('Code in JavaScript2').item.json.projectSummary }}\n\n🆔 Job ID: {{ $('Append row in sheet').item.json['Job ID'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        0
      ],
      "id": "21047c22-c3f5-4b37-893c-c3b685251dc2",
      "name": "Send a text message",
      "webhookId": "07a25db3-d046-4eef-aff1-7783a927efbe",
      "credentials": {
        "telegramApi": {
          "id": "5LRs7tMGSWpyq66I",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst RATES = {\n  'Tarpaulin':          { material: 80,   minCharge: 500  },\n  'Acrylic Sign':       { material: 650,  minCharge: 2000 },\n  'Lighted Sign (LED)': { material: 2500, minCharge: 8000 },\n  'Sticker Printing':   { material: 120,  minCharge: 300  },\n  'Panaflex':           { material: 180,  minCharge: 1200 },\n  'Billboard':          { material: 95,   minCharge: 5000 },\n  'Custom Request':     { material: 200,  minCharge: 1000 },\n};\n\nconst type = item.signageType || 'Tarpaulin';\nconst w = parseFloat(item.width) || 1;\nconst h = parseFloat(item.height) || 1;\nconst qty = parseInt(item.quantity) || 1;\nconst sqm = w * h;\nconst rate = RATES[type] || { material: 200, minCharge: 1000 };\n\nlet materialCost = Math.max(sqm * rate.material * qty, rate.minCharge);\nlet laborCost = sqm * 150 * qty;\nif (qty > 10) laborCost *= 0.75;\nelse if (qty > 5) laborCost *= 0.85;\n\nconst targetDate = new Date(item.targetDate);\nconst today = new Date();\nconst daysUntil = Math.ceil((targetDate - today) / 86400000);\nlet rushMultiplier = 1;\nif (daysUntil <= 1) rushMultiplier = 1.50;\nelse if (daysUntil <= 3) rushMultiplier = 1.30;\n\nlet installationCost = 0;\nif (item.installationRequired === 'Yes') {\n  installationCost = 1200;\n}\n\nconst deliveryCost = installationCost > 0 ? 0 : 350;\nconst subtotal = (materialCost + laborCost) * rushMultiplier;\nconst totalAmount = subtotal + installationCost + deliveryCost;\n\nconst productionDays = type.includes('Lighted') ? 7 :\n  type.includes('Acrylic') ? 5 :\n  qty > 10 ? 4 : 2;\nconst installationDays = installationCost > 0 ? 1 : 0;\n\nreturn [{\n  json: {\n    ...item,\n    materialCost: Math.round(materialCost),\n    laborCost: Math.round(laborCost),\n    installationCost: Math.round(installationCost),\n    deliveryCost: Math.round(deliveryCost),\n    subtotal: Math.round(subtotal),\n    totalAmount: Math.round(totalAmount),\n    rushMultiplier,\n    productionDays,\n    installationDays,\n    estimatedCompletionDate: new Date(Date.now() + (productionDays + installationDays) * 86400000).toISOString().slice(0,10),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        16
      ],
      "id": "272ccfc1-0a99-4615-bcaf-7ae9a69d70a6",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        816,
        16
      ],
      "id": "f44ae0fe-0737-4f25-b9b8-e3a7d98dfbb2",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "lpQOYpDbsPtxQxjb",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0",
          "mode": "list",
          "cachedResultName": "Quotation Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 511371829,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nicnlrslJ2yVYVWQxl7Rp8vKfRFJ73Tu1TklwsZ7YY0/edit#gid=511371829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Quotation Sent",
            "Production Notes": "={{ $('Code in JavaScript').item.json.productionNotes }}",
            "Total Amount": "={{ $('Code in JavaScript2').item.json.totalAmount }}",
            "Urgency": "={{ $('Code in JavaScript2').item.json.urgencyLevel }}",
            "row_number": 0,
            "Job ID": "={{ $('Append row in sheet').item.json['Job ID'] }}"
          },
          "matchingColumns": [
            "Job ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signage Type",
              "displayName": "Signage Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Width (in meters)",
              "displayName": "Width (in meters)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Height (in meters)",
              "displayName": "Height (in meters)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Installation required? ",
              "displayName": "Installation required? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Completion Date",
              "displayName": "Target Completion Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Installation Address (optional)",
              "displayName": "Installation Address (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Additional Notes / Special Requests (optional)",
              "displayName": "  Additional Notes / Special Requests (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logo File",
              "displayName": "Logo File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Design Reference or Inspiration (optional)",
              "displayName": "  Design Reference or Inspiration (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "  Existing Artwork (optional)",
              "displayName": "  Existing Artwork (optional)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job ID",
              "displayName": "Job ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Production Notes",
              "displayName": "Production Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        -112
      ],
      "id": "d213e9aa-ad9a-4b31-bff8-41c390e549a1",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2QD95nk0rCxC7QOQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5493719b-41f8-413f-8ed0-b47bdc0e27c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b53fe5a6fd9db9ce3998e0a8400503f9313e397f0428642efa630c5e075fae4"
  },
  "id": "jIJdtAXUKOd6A3Ir",
  "tags": []
}