ai-recruitment-platform/n8n/WF5 Candidate Scoring.json
{
  "name": "WF5 Candidate Scoring",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf5-candidate-scoring",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a110acf4-4237-47a9-a21a-aaef1facc678",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst score          = parseFloat(body.score);\nconst recommendation = body.recommendation;\nconst candidate_id   = body.candidate_id;\nconst application_id = body.application_id;\nconst job_id         = body.job_id;\n\n// Auto transition rules\nlet new_status;\nif (score >= 85) {\n  new_status = 'shortlisted';\n} else if (score >= 70) {\n  new_status = 'review_queue';\n} else if (score >= 50) {\n  new_status = 'review_queue';\n} else {\n  new_status = 'rejected';\n}\n\n// Notify candidate?\nlet notify_type;\nif (score >= 85) {\n  notify_type = 'shortlisted';\n} else if (score < 50) {\n  notify_type = 'rejected';\n} else {\n  notify_type = null;\n}\n\nreturn [{\n  json: {\n    candidate_id,\n    application_id,\n    job_id,\n    score,\n    recommendation,\n    new_status,\n    notify_type,\n    strengths:            body.strengths,\n    weaknesses:           body.weaknesses,\n    missing_requirements: body.missing_requirements,\n    risk_flags:           body.risk_flags,\n    interview_questions:  body.interview_questions,\n    recruiter_summary:    body.recruiter_summary,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "407861fe-ad98-4c4b-b4c3-ccf31485ab84",
      "name": "Compute Score"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=YOUR_SUPABASE_PROJECT_URL/rest/v1/applications?id=eq.{{ $json.application_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.new_status }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "0d6066bf-8c3a-4563-b2ac-8f3985191c83",
      "name": "Update Application Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SUPABASE_PROJECT_URL/rest/v1/activities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_ANON_KEY.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_ANON_KEY.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"application_id\": \"{{ $('Compute Score').first().json.application_id }}\",\n  \"actor_id\":       \"system\",\n  \"action\":         \"status_changed\",\n  \"metadata\":       {\n    \"from\":    \"screening\",\n    \"to\":      \"{{ $('Compute Score').first().json.new_status }}\",\n    \"score\":   \"{{ $('Compute Score').first().json.score }}\",\n    \"auto\":    true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "7ee8406a-e698-4208-8e3c-20966fbe82ad",
      "name": "Log Activity"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_WF6_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "YOUR_WEBHOOK_SECRET"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"candidate_id\":        \"{{ $('Compute Score').first().json.candidate_id }}\",\n  \"application_id\":      \"{{ $('Compute Score').first().json.application_id }}\",\n  \"job_id\":              \"{{ $('Compute Score').first().json.job_id }}\",\n  \"score\":               \"{{ $('Compute Score').first().json.score }}\",\n  \"recommendation\":      \"{{ $('Compute Score').first().json.recommendation }}\",\n  \"new_status\":          \"{{ $('Compute Score').first().json.new_status }}\",\n  \"notify_type\":         \"{{ $('Compute Score').first().json.notify_type }}\",\n  \"recruiter_summary\":   \"{{ $('Compute Score').first().json.recruiter_summary }}\",\n  \"interview_questions\": {{ $('Compute Score').first().json.interview_questions }},\n  \"risk_flags\":          {{ $('Compute Score').first().json.risk_flags }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "aa7a1b38-89fc-4e8b-812a-9aa3e8909ddf",
      "name": "Trigger WF6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Compute Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Score": {
      "main": [
        [
          {
            "node": "Update Application Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Application Status": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Activity": {
      "main": [
        [
          {
            "node": "Trigger WF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "YOUR_ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "06849ca3-6c9b-4358-998d-97c823bf7fde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}