ai-recruitment-platform/n8n/WF6 Recruiter Summary.json
{
  "name": "WF6 Recruiter Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf6-recruiter-summary",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -160
      ],
      "id": "d9410051-3981-414a-a7f2-ddffb6535ea0",
      "name": "Webhook",
      "webhookId": "560a1f61-e791-46f7-84f7-64ba63352af3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.candidate_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -160
      ],
      "id": "790ac27e-4486-4d3e-b591-b88c5bd83c6f",
      "name": "Get Candidate Details",
      "credentials": {
        "supabaseApi": {
          "id": "kKpgBB1elD5KB7ek",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidate = $input.first().json;\nconst parsed_resume = typeof candidate.parsed_resume === 'string'\n  ? JSON.parse(candidate.parsed_resume)\n  : candidate.parsed_resume;\n\nconst flags = [];\n\n// No work experience\nif (!parsed_resume.work_experience || parsed_resume.work_experience.length === 0) {\n  flags.push('No work experience listed');\n}\n\n// No years experience\nif (!parsed_resume.years_experience) {\n  flags.push('Years of experience could not be determined');\n}\n\n// Short tenure check\nif (parsed_resume.work_experience && parsed_resume.work_experience.length >= 2) {\n  const shortRoles = parsed_resume.work_experience.filter(w => {\n    if (!w.start_date || !w.end_date || w.end_date === 'current') return false;\n    const start = new Date(w.start_date);\n    const end   = new Date(w.end_date);\n    const months = (end - start) / (1000*60*60*24*30);\n    return months < 6;\n  });\n  if (shortRoles.length >= 2) flags.push('Multiple short tenure roles detected');\n}\n\nreturn [{\n  json: {\n    candidate_id:      $('Webhook').first().json.body.candidate_id,\n    application_id:    $('Webhook').first().json.body.application_id,\n    job_id:            $('Webhook').first().json.body.job_id,\n    score:             $('Webhook').first().json.body.score,\n    recommendation:    $('Webhook').first().json.body.recommendation,\n    new_status:        $('Webhook').first().json.body.new_status,\n    notify_type:       $('Webhook').first().json.body.notify_type,\n    recruiter_summary: $('Webhook').first().json.body.recruiter_summary,\n    interview_questions: $('Webhook').first().json.body.interview_questions,\n    candidate_name:    parsed_resume.full_name,\n    years_experience:  parsed_resume.years_experience,\n    recent_title:      parsed_resume.work_experience?.[0]?.title || 'N/A',\n    recent_company:    parsed_resume.work_experience?.[0]?.company || 'N/A',\n    top_skills:        parsed_resume.skills?.slice(0, 5) || [],\n    risk_flags:        flags,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        144
      ],
      "id": "1fc86249-c721-4dd5-b14a-7e69b2727a1c",
      "name": "Detect Risk Flags"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a recruiter assistant for MindMate.\nGenerate a concise 3-4 sentence recruiter summary.\nTone: professional, objective, honest.\nStructure: [Who they are] → [Key strengths] → [Gaps] → [Recommendation]\nReturn ONLY the summary text. No JSON, no markdown, no labels.\nDo not use words like \"exceptional\" or \"outstanding\" unless score is above 85.\nAlways mention the AI score and recommendation tier at the end.",
        "messages": {
          "messageValues": [
            {
              "message": "=Candidate: {{ $json.candidate_name }} \nYears experience: {{ $json.years_experience }} \nRecent role: {{ $json.recent_title }} at {{ $json.recent_company }} \nTop skills: {{ $json.top_skills }} \nAI Score: {{ $json.score }}/100 \nRecommendation: {{ $json.recommendation }} \nRecruiter summary from AI: {{ $json.recruiter_summary }} \nRisk flags: {{ $json.risk_flags }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        496,
        0
      ],
      "id": "b826a98f-0ef9-4ead-80aa-39c6a5fde520",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "882b8b41-634f-4222-b39e-8d36bb03d765",
      "name": "Generate Summary",
      "credentials": {
        "groqApi": {
          "id": "5GaJRjXlcRzSLR65",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://ppbghcxjchxlfwltabfj.supabase.co/rest/v1/applications?id=eq.{{ $('Detect Risk Flags').first().json.application_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recruiter_summary\": \"{{ $input.first().json.text }}\",\n  \"risk_flags\": {{ JSON.stringify($('Detect Risk Flags').first().json.risk_flags) }},\n  \"interview_questions\": {{ JSON.stringify($('Detect Risk Flags').first().json.interview_questions) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -144
      ],
      "id": "9cf427af-6b3f-4a7e-b5c1-44429365a66c",
      "name": "Update Application"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pjhehe.app.n8n.cloud/webhook-test/wf7-email-notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "my-secret-is-i-am-batman"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"candidate_id\":    \"{{ $('Detect Risk Flags').first().json.candidate_id }}\",\n  \"application_id\":  \"{{ $('Detect Risk Flags').first().json.application_id }}\",\n  \"job_id\":          \"{{ $('Detect Risk Flags').first().json.job_id }}\",\n  \"notify_type\":     \"{{ $('Detect Risk Flags').first().json.notify_type }}\",\n  \"new_status\":        \"{{ $('Detect Risk Flags').first().json.new_status }}\",\n  \"candidate_name\":  \"{{ $('Detect Risk Flags').first().json.candidate_name }}\",\n  \"score\":           \"{{ $('Detect Risk Flags').first().json.score }}\",\n  \"recommendation\":  \"{{ $('Detect Risk Flags').first().json.recommendation }}\",\n  \"recruiter_summary\": \"{{ $('Basic LLM Chain').first().json.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        144
      ],
      "id": "3e25a6a6-1841-409c-8dd3-7d420206a135",
      "name": "Trigger WF7"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Candidate Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate Details": {
      "main": [
        [
          {
            "node": "Detect Risk Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Risk Flags": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update Application",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Application": {
      "main": [
        [
          {
            "node": "Trigger WF7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "IaO21etUMZsGv54V",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1aaa7fda-991a-4065-b031-419263cdf7d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "586128f554e087bfd0d3b2c7ad371fb8dd9072d710b8cf2a3dab5c13d6b54258"
  },
  "nodeGroups": [],
  "id": "PkKntRElZW3KfRzs",
  "tags": []
}