ai-recruitment-platform/n8n/WF8 Status Update.json
{
  "name": "WF8 Status Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf8-satus-update",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "259fd3bb-295d-4bcd-a54a-53c1c835c6e2",
      "name": "Webhook",
      "webhookId": "ed33bbaf-4eca-4679-bf3a-ed226891ef12"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://your-project.supabase.co/rest/v1/applications?id=eq.{{ $json.body.application_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_SUPABASE_API_KEYIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_SUPABASE_API_KEYIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwYmdoY3hqY2h4bGZ3bHRhYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzNDAyMjYsImV4cCI6MjA5NjkxNjIyNn0.wDHjjZMpyPKB-fCDv_Jsbr7Ji5M7IF0mKvqwe0Fovhk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\":     \"{{ $json.body.new_status }}\",\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "723868ba-7b7f-4495-8e68-55bf7c5af842",
      "name": "Update Status"
    },
    {
      "parameters": {
        "tableId": "activities",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "application_id",
              "fieldValue": "={{ $('Webhook').first().json.body.application_id }}"
            },
            {
              "fieldId": "actor_id",
              "fieldValue": "system"
            },
            {
              "fieldId": "action",
              "fieldValue": "status_updated"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify({ to: $('Webhook').first().json.body.new_status, notify_type: $('Webhook').first().json.body.notify_type }) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "2682d805-2425-40ed-9497-a634900d0787",
      "name": "Log Activity",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Activity": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "ERROR_WORKFLOW_ID",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d1c2bb30-af39-4207-81ca-2f9ef726755d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "zDDHYV4OhnUXE5OS",
  "tags": []
}